body {
    background-color: tan;
}

#contentContainer {
    text-align: center;
}

#horoscope {
    text-align: center;
}

#dateForm {
    text-align: center;
    padding: 2em;
}

#updateButton {
    margin: 1em;
}

.no-display {
    display: none;
}

.re-display {
    display: initial;
}